<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Backend Server</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <img
                            src="https://scontent.fsgn13-4.fna.fbcdn.net/v/t39.30808-6/279439599_1097502060797159_1847407482349404706_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=X2W4xVpxywwAX_EEqU0&_nc_ht=scontent.fsgn13-4.fna&oh=00_AfArXy18OPi4FEn3DpbmMlNs3083eN79YSSFSNdjcCMd2w&oe=63D444C8"
                            alt="avatar"
                            class="user-avatar"
                        />
                        Hung Dang
                    </a>
                    <ul class="dropdown-menu">
                        <li><a
                                class="dropdown-item"
                                href="/persons/create"
                            >Create Person</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a
                                class="dropdown-item"
                                href="/persons/stored/profile"
                            >My profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>